
<%= "Hello, #{current_user.email}! Please reset your password" %>

<form method="post" action="/users/new_password">
New password:<input type="password" name="new_password">
Confirm password: <input type="password" name="password_confirmation">
<input type="submit" value="Confirm new password">
</form> 