
<%= "Hello, #{current_user.email}! Please reset your password" %>

<form method="post" action="/users/new_password">
<input type="text" name="new_password">
<input type="text" name="password_confirmation">
<input type="submit" value="Confirm new password"
</form> 