body {
	width:100%;
	background-image: url('/images/giftly.png');
	font-family: 'Lato', sans-serif;
}

header { 
	background-color: black;
	color:#fff;
	text-align:right;
	height: 65px;

}

header div {
	padding:5px;
}

header form {
	margin-top: 20px;
}

#container {
	/*width: 5%;*/
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
}
header form {
	:0px;
}
#logo {
	float:left;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:3em; 
	margin-right:100px;
}

a.button.highlighted{
	background-color: hotpink;
	float:left;
	padding:10px;
	margin-top:10px;
	margin-left: 20px;
	vertical-align: middle;
	color:#fff;
	border:2px solid #fff;
	border-radius:5px;
	text-decoration: none;
}

.link {
	margin: 15px;
	padding: 15px;
	border-radius: 10px;
	background-color: rgba(192,192,192,0.15);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.source {
	color: gray;
	font-style: italic;
}

li .title {
	color:darkred;
	font-weight: bold;
}

h3 {
	font-size: 1.5em;
}


div#errors {}

div#notice {}