
<head>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
	<title>Where Was I</title>

</head>
<body>
	<header>
		<div id="logo">Where Was I</div>
			<a href="/links/new" class="button highlighted">Add link</a>
		<div id="user-links">
			<% if current_user %>
				<span id="welcome message">
					Welcome, <%= current_user.email %>
				</span>


				<form id="sign-out" method="post" action="/sessions">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Sign Out">
				</form>
			<% else %>
			<br>
			<% end %>
			</div>
	</header>

	<div id="container"> 
			<% if flash[:errors] && !flash[:errors].empty? %>
				Sorry, there were the following problems with the form.
				<ul id="errors">
					<% flash[:errors].each do |error| %>
						<li><%= error %></li>
					<% end %>
				</ul>
			<% end %>
			<% if flash[:notice] %>
				<div id="notice">
					<%= flash[:notice] %>
				</div>
			<% end %>
			<%= yield %>
		</div>	
</body>
