<li class="link">
	<h3><a class="title" href="<%= link.url %>"><%= link.title %></a></h3>
	<div class="description">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	</div>
	<span class="source">
		added yesterday by
		<a href="#">ben@gamil.com</a>
	</span>
</li>
